[submodule "deps/argp-standalone"]
	path = deps/argp-standalone
	url = https://github.com/BlockchainCommons/argp-standalone.git
[submodule "deps/libwally-core"]
	path = deps/libwally-core
	url = https://github.com/BlockchainCommons/bc-libwally-core.git
[submodule "deps/bc-crypto-base"]
	path = deps/bc-crypto-base
	url = https://github.com/BlockchainCommons/bc-crypto-base.git
